 body{ 
    
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

/* unneccessary navbar styling */
#navbar{
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    background-color: aliceblue; 
    padding: 30px 20px;
    overflow: scroll;
    /* border: solid 2px black; */
    margin: 0;
    display: inline-block; 
}

/* added display styling */
main{
    display: flex;
}

 /* added padding */
.navigation{
    /* border: solid 10px black */
    padding-top: 15px;
    padding-left: 10px;
    display: flex;
    width: 200px;
}
.navigation ul{
    width: 100%;
    padding: 0;
}
.navigation a:visited{
    color: black;

}
.navigation a:hover{
    color: blue;
}
section{
    border: solid 1px rgb(8, 8, 8);
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
h2{
    /* font-size: 20px; */
    font-weight: 100;
}

ul{
    list-style-type: none;
    padding:0;
    margin: 0;
}
.container{
    margin-left: 180px;
}

.nav-items{
    padding: 10px 0px;
    border-top: 1px solid gray;
    
    /* border-bottom: 1px solid gray; */
}

a {
    text-decoration: none;
}